[phases.setup]
nixPkgs = ["nodejs_20", "python3", "gcc", "gnumake", "yt-dlp", "ffmpeg"]

[phases.install]
cmds = ["npm install"]

[phases.install.env]
PYTHON = "python3"

[phases.build]
cmds = []

[start]
cmd = "npm start"
