[phases.setup]
nixPkgs = ["nodejs_20", "python3", "gcc", "gnumake", "yt-dlp", "ffmpeg"]

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "false"

[phases.install]
cmds = ["npm install"]

[phases.install.env]
PYTHON = "python3"

[phases.build]
cmds = ["npm --prefix client install", "npm --prefix client run build"]

[start]
cmd = "node server/server.js"
