fastapi==0.115.0
uvicorn[standard]==0.30.0
websockets==12.0
torch>=2.7.0
torchaudio>=2.7.0
transformers>=4.55.0,<6
datasets>=2.19.0
numpy==1.26.4
scipy==1.13.0
librosa==0.10.2
soundfile==0.12.1
python-multipart==0.0.9
pydantic>=2.8.0
xmltodict
python-Levenshtein>=0.27.1
fuzzysearch>=0.8.1
diff-match-patch>=20241021
rich>=14.1.0
quran-muaalem>=0.1.0
quran-transcript>=0.5.2
